<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Angular Assignments</h1>
  <h3>Question1</h3>
  <app-table-creation></app-table-creation>
  <br>
  <h3>Question2</h3>
  <app-create-link-to-google></app-create-link-to-google>
  <br>
  <h3>Question3</h3>
  <app-create-list-with-color></app-create-list-with-color>
  <br>
  <h3>Question4</h3>
  <app-create-nested-list></app-create-nested-list>
  <br>
  <h3>Question5</h3>
  <app-create-alert-me-button></app-create-alert-me-button>
  <br>
  <h3>Question6</h3>
  <app-create-leap-year></app-create-leap-year>
  <br>
  <h3>Question7</h3>
  <app-create-shopping-list></app-create-shopping-list>
  <router-outlet></router-outlet>
</body>
</html>