
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/alert-box-button" routerLinkActive="active" >Alert box button</a></li>
    <li><a routerLink="/link-to-google" routerLinkActive="active" ariaCurrentWhenActive="page">Link to Google</a></li>
    <li><a routerLink="/list-with-color" routerLinkActive="active" ariaCurrentWhenActive="page">List with Color</a></li>
    <li><a routerLink="/table-creation" routerLinkActive="active" ariaCurrentActive="page">Table Creation</a></li>
    <li><a routerLink="/leap-year" routerLinkActive="active" ariaCurrentActive="page">Leap year Check</a></li>
    <li><a routerLink="/nested-list" routerLinkActive="active" ariaCurrentActive="page">Nested list</a></li>
    <li><a routerLink="/shopping-list" routerLinkActive="active" ariaCurrentActive="page">Shopping List</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>